*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #0a192f;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    
}
.navbar-logo{
    width: 80px;
}
.navbar-menu{
    display: flex;
    list-style: none;
}
.navbar-menu li{
    margin: 10px;
}
@media screen and (max-width: 992px) {
    .navbar-menu{
        display: none;
    }
}
.hidden{
    display: none;
    list-style: none;
    margin: 10px;
}
.toggle-inner-menu{
    font-size: 25px;
}
.toggle-inner-menu>li{
    margin: 5px;
    padding: 10px;
    color: white;
}

@media screen and (max-width: 992px) {
    .bars-icon{
        display: block;
    }
    .toggle-inner-menu{
   
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #0a192f;
        padding-top: 30%;
        align-items: center;

    }
    .toggle-bars-icon{
        display: block;
        z-index: 10;
        cursor: pointer;
    }
}
