

.skills{
  /* border: 1px solid red; */
  padding:70px 0;
  
}
.skills-div-1 > p:first-child {
  display: inline;
  border-bottom: 5px solid #e54b6e;
  font-size: 33px;
  color: #ccd6f6;
}
.skills-div-1 > p:nth-child(2) {
    padding: 33px 0;
    color: #ccd6f6;
  }
.skills-div-1 > div:first-child {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid {
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  text-align: center;
}
@media only screen and (max-width:1300px){
  .grid{
    grid-template-columns: repeat(4,1fr);
  }
  
}
@media only screen and (max-width:950px){
  .grid{
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }
  
}
@media only screen and (max-width:550px){
  .grid{
    grid-template-columns: repeat(2,1fr);
    gap: 8px;
  }
  
}
.skills-div-2 {
  box-shadow: #050c16;
  box-shadow: #050c16 0px 7px 29px 0px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 250px; */
}
.skills-div-2:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
}
.skills-div-2 > img {
  width: 100px;
  margin: 0 20px;
}
.language-name{
    color: #ccd6f6;
    padding: 10px;
}
